@{
	Layout = "";
}


its groups
<button onclick="fetchGroups(false)">Previous</button>
<button onclick="fetchGroups(true)">Next</button>
<div id="groupsHolder">
</div>
<script>
	var limit = 3;
	var start = 0;
	var end = 0;
	const groupsHolder = document.getElementById("groupsHolder");
	function fetchGroups(toNext) {
		if (toNext) {
			fetch(`/Api/GetNextGroupsByLimit?start=${end}`).then(v => (v.json())).then((v) => {
				if (v.length > 0) {
					CreateGroupListItems(v);
				}
			});
		} else {
			fetch(`/Api/GetPreGroupsByLimit?end=${start}`).then(v => (v.json())).then((v) => {
				if (v.length > 0) {
					CreateGroupListItems(v);
				}
			});
		}
	}
	function CreateGroupListItems(v) {
		groupsHolder.innerHTML = "";
		v.forEach(e => {
			groupsHolder.innerHTML += JSON.stringify(e) + "</br>";
		})
		start = v[0]["id"];
		end = v[v.length - 1]["id"];
	}
</script>