@{
	Layout = "";
}


its groups
<button onclick="fetchGroups(false)">Previous</button>
<button onclick="fetchGroups(true)">Next</button>
<div id="groupsHolder">
</div>
<script>
	var limit = 3;
	var start = 0;
	var end = limit;
	const groupsHolder = document.getElementById("groupsHolder");
	function fetchGroups(toNext) {
		if (toNext) {
			fetch(`/Api/GetNextGroupsByLimit?start=${start}`).then(v => (v.json())).then((v) => {
				if (v.length > 0) {
					groupsHolder.innerHTML = "";
					let lastid = v[0]["id"];
					end = lastid;
					v.forEach(e => {
						if (e.id > lastid) {
							lastid = e.id;
						}
						groupsHolder.innerHTML += JSON.stringify(e) + "</br>";
					})
					start = lastid;
				}
			});
		} else {
			if (end === 0) {
				end = limit;
			}
			fetch(`/Api/GetPreGroupsByLimit?end=${end}`).then(v => (v.json())).then((v) => {
				if (v.length > 0) {
					groupsHolder.innerHTML = "";
					let lastid = v[v.length - 1]["id"];
					start = lastid;
					v.forEach(e => {
						if (e.id < lastid) {
							lastid = e.id;
						}
						groupsHolder.innerHTML += JSON.stringify(e) + "</br>";
					})
					end = lastid - lim;
					console.log(end);
				}
			});

		}
		console.log(start);
		console.log(end);
		console.log("-----------");
	}
</script>