@model CreateAccountModel
@{
    Layout = "_Auth";
	ViewData["title"] = "Create Account";
}

<form method="post" class="d-flex flex-column w-100 justify-content-center align-items-center h-100">
	name *
	<input name="name" asp-for="name"/>
	<span asp-validation-for="name" class="alert-danger"></span>
	email *
	<input name="email" asp-for="email" />
	<span asp-validation-for="email" class="alert-danger"></span>
	password *
	<input name="password" asp-for="password" />
	<span asp-validation-for="password" class="alert-danger"></span>
	<button type="submit">Create account</button>
	<span asp-validation-for="success" class="alert-danger m-3 rounded-3"></span>
</form>

