@{
	Layout = "_Auth";
}
<div class="d-flex flex-column gap-2 w-100 h-100 justify-content-center align-items-center">
	<h1>Wellcome to auth page</h1>
	<a asp-action="CreateAccount">Create Account</a>
	<i>or</i>
	<a asp-action="Login">Login</a>
</div>