<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>ChatApp - @ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/ChatApp.styles.css" asp-append-version="true" />
</head>
<body class="GoupChat">
	<div class="d-flex h-100 bg-secondary">
		<div class="w-25 d-flex flex-column fs-4">
			<a asp-controller="Auth" asp-action="Logout">Çıkış yap</a>
			<a asp-controller="Groups" asp-action="Index">Home</a>
			@{
				string? getuserid = User.Claims?.Where(x => x.Type.ToString() == "UserId").FirstOrDefault()?.Value;
				List<ChatApp.DBM.Items.GroupItem>? groups = ChatApp.DBM.Pool.dbm.GetGroupsOfUser(getuserid);
				if (groups != null)
				{
					foreach (var item in groups)
					{
						string roomid = "/Room?token=" + item.token;
						<a href=@roomid>@item.name</a>
					}
				}
			}
			<form asp-controller="Groups" asp-action="AddHub" class="d-flex flex-column align-items-center">
				<label>Yeni oda ekle</label>
				<input name="hubName" type="text" />
				<div>
					<label>Oda herkese açık mı?</label>
					<input name="global" type="checkbox" checked="checked" style="height:2vmax;width:2vmax;" />
				</div>
				<button type="submit">Ekle</button>
			</form>
		</div>
		<div class="w-75 bg-dark overflow-auto">
			@RenderBody()
		</div>
	</div>
</body>
</html>
