<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>ChatApp - @ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/ChatApp.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/animate.css" />
	<link rel="stylesheet" href="~/css/animate.min.css" />
</head>
<body class="GoupChat">
	<div class="d-flex h-100 bg-secondary">
		<div class="w-25 d-flex flex-column fs-4">
			<a asp-controller="Auth" asp-action="Logout" class="w-100 text-center text-decoration-none">Çıkış yap</a>
			<a asp-controller="Groups" asp-action="Index" class="w-100 ps-2 text-decoration-none">Home</a>
			<div id="RoomsList" class="m-3 p-1 rounded-3 d-flex flex-column overflow-auto" style="background-color:rgb(15,15,15);max-height:25vh;">
				<h6 class="text-center w-100 m-0">Dahil olduğun gruplar</h6>
			</div>
			<div id="ClosedRoomsList" class="m-3 p-1 rounded-3 d-flex flex-column overflow-auto" style="background-color:rgb(60,15,15);max-height:25vh;">
				<h6 class="text-center w-100 m-0">Dahil olduğun kapalı gruplar</h6>
			</div>
			<form asp-controller="Groups" asp-action="AddHub" class="d-flex flex-column align-items-center">
				<label>Yeni grup ekle</label>
				<input name="hubName" type="text" />
				<div>
					<label>Grup herkese açık mı?</label>
					<input name="global" type="checkbox" checked="checked" style="height:2vmax;width:2vmax;" />
				</div>
				<button type="submit">Ekle</button>
			</form>
			<form asp-controller="Groups" asp-action="JoinGroup" class="d-flex flex-column align-items-center">
				<label>Gruba katıl</label>
				<input name="groupToken" type="text" placeholder="Group Token" />
				<button type="submit">Katıl</button>
				<a class="btn btn-success p-2 m-2 fs-3" href="/Show/Groups">Grupları Keşfet</a>
			</form>
		</div>
		<div class="w-75 bg-dark overflow-auto">
			@RenderBody()
		</div>
	</div>
</body>
</html>
<script>
	function LoadRoomsList() {
		var roomslist = document.getElementById("RoomsList");
		var closedroomslist = document.getElementById("ClosedRoomsList");
		fetch("/Api/GetUserGroups").then(v => v.json()).then((v) => {
			v.forEach(i=>{
				roomslist.insertAdjacentHTML("beforeend", `<a href='/Room?token=${i.token}'>${i.name}</a>`);
			});
		});
		fetch("/Api/GetUserClosedGroups").then(v => v.json()).then((v) => {
			v.forEach(i => {
				closedroomslist.insertAdjacentHTML("beforeend", `<a href='/Room?token=${i.token}'>${i.name}</a>`);
			});
		});
	}
	LoadRoomsList();
</script>