@{
	Layout = "_GroupChat";
	ViewData["title"] = "Home";
}
<div>
	<h1 class="w-100 m-0 p-3 text-white text-center">Merhabalar</h1>
	<h3 class="w-100 m-0 p-3 text-white text-center">Sohbet ana lobisine hoşgeldiniz</h3>
	<h6 class="w-100 m-0 p-3 text-white text-center">Bu alanda davet edildiğiniz gruplar listelenmektedir</h6>
</div>